



body {
  background-color: #fff;
  background-image: linear-gradient(147deg, #fff 0%, #f9fcff 74%);
  height: 100vh;
}
.stencil-text,
li,
li:hover {
  font-family: 'Big Shoulders Stencil Text', cursive;
}
.shimmer,
li:hover,
#output {
  display: inline-block;
    
  background: #d93f6d -webkit-gradient(linear, 100% 0, 0 0, from(#d93f6d), color-stop(0.5, #22bdbd), to(#d93f6d));
  
  background-position: -4rem top; /*50px*/
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 15rem 100%; /*50px*/
  
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -4rem top; /*50px*/
    }

    70% {
        background-position: 12.5rem top; /*200px*/
    }

    100% {
        background-position: 12.5rem top; /*200px*/
    }
}

.bg-silver {
  background-color: #f9fcff;
  background-image: linear-gradient(147deg, #fff 0%, #f9fcff 25%, #dee4ea 98%);
}

/* .bg-shimmer {
  background-image: linear-gradient(to bottom right, #e26187, #cc3a5e, #22bda3, #22bdbd);
} */



#calculator{
	max-width: 320px;
  padding-top: 10px;
	margin: 0 auto;
  border-radius: 5px;
  background-image: linear-gradient(to top,  #dee4ea 0%, #fff 20%, #f9fcff 25%, #dee4ea 98%);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#bend {
  background-image: linear-gradient(to bottom, #fff 0%, #f9fcff 85%, #dee4ea 99%);
  height: 145px;
  padding: 10px;
}
#result{
  font-family: 'Big Shoulders Stencil Text', cursive;
  height: 100px;
  border-style: double;
  border-radius: 2%;
  border-color: rgb(228, 226, 226);
  padding-right: 8px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 5px;
	padding-top: 5px;
	font-size: 20px;
}
#output{
	float: right;
	height: 60px;
  margin-right: 5px;
  margin-top: 15px;
	font-size: 40px;
}
#keyboard{
  height: 390px;
  margin: 10px;
}
.operator, .number, .empty{
  background-color: #fff;
	width: 70px;
  height: 70px;
  margin: 2px;
	float: left;
	border-radius: 10%;
  border-style: outset;
  border-color: rgb(240, 240, 240);
	font-weight: bold;
  font-size: 20px;
  background-image: linear-gradient(147deg, #fff 0%, #f9fcff 50%, #dee4ea 99%);
}
.empty{
  background-color: #eaedef;
  border-radius: 0%;
  border: unset;
  background-color: transparent;
  background-image: unset;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
  transform: scale(0.98);
  border-color: rgb(199, 196, 196);
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}


.loanSubmit,
#resetCalc {
  width: 70px;
  height: 50px;
  margin: 2px;
	float: unset;
}